<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VUE</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <!-- Declaramos el cierre del container antes del script, para definir que vue va a manipular toda esa sección -->
    <div id="myApp">
      <header></header>
      <nav></nav>
      <section>
      <p>{{mensaje}}</p>
      <p>{{studentsList[0]}}</p>
      <button @click="addStudent()">Add Student</button>
      <ul>
        <!-- <li v-for="student in studentsList"> -->
            <li v-for="({name, lastName}, index) in studentsList">
            <h3>{{index+1}} ->{{name}}</h3>
            <h4>{{lastName}}</h4>
        </li>
        
      </section>
      <footer></footer>
    </div>
    <!-- Se declara al final la referencia al CDN -->
    <script src="../js/app.js"></script>
  </body>
</html>
